#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=start
Name[en_US]=LTMS_Server
Exec=%INSTALL_PATH/startup.sh
Comment[en_US]=This will autostart the LTMS server when the user logs in.
Name=LTMS Server
Comment=This will autostart the LTMS server when the user logs in.
Icon=start
