<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<installation version="1.0">
    <info>
        <appname>jflicks media system Server</appname>
        <appversion>1.0</appversion>
        <appsubpath>jflicks-server</appsubpath>
        <authors>
            <author email="djb@jflicks.org" name="Douglas Barnum"/>
        </authors>
        <url>http://www.jflicks.org</url>
        <uninstaller name="Uninstaller.jar" write="yes"/>
        <javaversion>1.6</javaversion>
        <requiresjdk>no</requiresjdk>
        <writeinstallationinformation>no</writeinstallationinformation>
        <pack200/>
        <run-privileged condition="izpack.windowsinstall.vista|izpack.windowsinstall.7"/>
    </info>
    <guiprefs height="600" resizable="no" width="800">
        <modifier key="useFlags" value="yes"/>
        <modifier key="langDisplayType" value="default"/>
    </guiprefs>
    <locale>
        <langpack iso3="eng"/>
    </locale>
    <resources>
        <res id="LicencePanel.licence" parse="yes" src="server/COPYING.txt"/>
        <res id="Installer.image" src="resources/side.png"/>
        <res id="userInputSpec.xml" src="server_userInputSpec.xml"/>
        <res id="ProcessPanel.Spec.xml" src="server_processPanelSpec.xml"/>
    </resources>
    <panels>
        <panel classname="CheckedHelloPanel"/>
        <panel classname="LicencePanel"/>
        <panel classname="PacksPanel"/>
        <panel classname="TargetPanel"/>
        <panel classname="InstallPanel"/>
        <panel classname="UserInputPanel"/>
        <panel classname="UserInputPanel"/>
        <panel classname="ProcessPanel"/>
        <panel classname="SimpleFinishPanel"/>
    </panels>
    <packs>
        <pack name="Base" preselected="yes" required="yes">
            <description>The base packages one needs to run a jflicks media system server.</description>
            <file override="update"
                src="server/COPYING.txt" targetdir="$INSTALL_PATH/"/>
            <file override="update"
                src="server/db" targetdir="$INSTALL_PATH/"/>
            <file override="update"
                src="server/log" targetdir="$INSTALL_PATH/"/>
            <file override="update"
                src="server/www" targetdir="$INSTALL_PATH/"/>
            <file override="update"
                src="server/bundle/db4o-7.12.126.14142-osgi.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-base.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-nms-system.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-swingx.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/org.apache.felix.bundlerepository-1.4.2.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/org.apache.felix.configadmin-1.2.4.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/org.apache.felix.eventadmin-1.0.0.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/org.apache.sling.commons.log-2.0.6.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/org.apache.felix.shell-1.4.1.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/org.apache.felix.shell.tui-1.4.1.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/remote-1.0.0.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bin/felix.jar" targetdir="$INSTALL_PATH/bin"/>
            <file override="update"
                src="server/bundle/jflicks-stream-http.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/conf/config.properties" targetdir="$INSTALL_PATH/conf"/>
            <file override="update"
                src="server/bundle/org.apache.felix.http.api-2.0.4.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/org.apache.felix.http.jetty-2.0.4.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bin/jflicks-install.jar" targetdir="$INSTALL_PATH/bin"/>
            <file override="update"
                src="server/startup.sh" targetdir="$INSTALL_PATH/"/>
            <file override="update"
                src="server/JFlicks_Server.desktop" targetdir="$INSTALL_PATH/"/>
            <file override="update"
                src="server/postinstall.sh" targetdir="$INSTALL_PATH/"/>
            <executable failure="abort" keep="true" stage="never" targetfile="$INSTALL_PATH/startup.sh"/>
            <executable failure="abort" keep="true" stage="never" targetfile="$INSTALL_PATH/postinstall.sh"/>
            <parsable encoding="iso-8859-1"
                targetfile="$INSTALL_PATH/startup.sh" type="shell"/>
            <parsable encoding="iso-8859-1"
                targetfile="$INSTALL_PATH/JFlicks_Server.desktop" type="shell"/>
            <parsable encoding="iso-8859-1"
                targetfile="$INSTALL_PATH/postinstall.sh" type="shell"/>
        </pack>
        <pack name="DVR Functionality" preselected="no" required="no">
            <description>You need this if this server is to manage one or more recorders that are to record TV with guide data from Schedule's Direct.  A subscription to Schedule's Direct is required at this time.</description>
            <file override="update"
                src="server/bundle/jflicks-jdom.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-tv-postproc-system.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-tv-postproc-worker-ffmpegscreenshot.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-tv-postproc-worker-mediainfo.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-tv-programdata-sd.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-tv-scheduler-system.jar" targetdir="$INSTALL_PATH/bundle"/>
        </pack>
        <pack name="Live TV support" preselected="no" required="no">
            <description>Add if you want to watch Live TV at the TV user interface.  Live TV is a DVR type of live tv - it can be paused etc.</description>
            <file override="update"
                src="server/bundle/jflicks-tv-live-system.jar" targetdir="$INSTALL_PATH/bundle"/>
        </pack>
        <pack name="Video Manager" preselected="no" required="no">
            <description>Add if you want to manage a library of video files to be played on your TV.  The service is managed with the jflicks media system desktop app called Video Manager.</description>
            <file override="update"
                src="server/bundle/jflicks-videomanager-system.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-videomanager-yamj.jar" targetdir="$INSTALL_PATH/bundle"/>
        </pack>
        <pack name="Roku On Demand" preselected="no" required="no">
            <description>Use a Roku for On Demand viewing.  The device will need to be attached to a recorder.  The HD-PVR 1212 works great but an analog recorder via s-video would work too.</description>
            <file override="update"
                src="server/bundle/jflicks-tv-ondemand-roku.jar" targetdir="$INSTALL_PATH/bundle"/>
        </pack>
        <pack name="Apple Trailers" preselected="no" required="no">
            <description>Preview trailers downloaded from Apple.  This service checks the web from time to time and downloads the latest trailers.  When playing them with the TV user interface your local copies are played.</description>
            <file override="update"
                src="server/bundle/jflicks-trailer-apple.jar" targetdir="$INSTALL_PATH/bundle"/>
        </pack>
        <pack name="HDHomerun Recorder" preselected="no" required="no">
            <description>A recorder that supports the use of the network based HDHomerun from Silicondust (http://www.silicondust.com).  You need to install the hdhomerun_config program and make sure it's in your PATH.  It's a free download from Silicondust or your distribution may have it in it's repository.  Ubuntu 10.10 has it via the package manager.</description>
            <file override="update"
                src="server/bundle/jflicks-tv-recorder-hdhr.jar" targetdir="$INSTALL_PATH/bundle"/>
        </pack>
        <pack name="V4l2 Recorder" preselected="no" required="no">
            <description>A recorder service for Video4Linux2 (V4l2) including the HD-PVR 1212.  Most analog tuners should work including the Hauppauge WinTV line (150, 250, 350, 500).  The hybrid WinTV-HVR-1600 works also for it's analog tuner.  You need to install the ivtv-utils package.  Specifically two programs called v4l2-ctl and ivtv-tune and of course they need to be in your PATH.</description>
            <file override="update"
                src="server/bundle/jflicks-tv-recorder-v4l2.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bin/directvweb.jar" targetdir="$INSTALL_PATH/bin"/>
            <file override="update"
                src="server/bin/directvweb.sh" targetdir="$INSTALL_PATH/bin"/>
            <executable failure="abort" keep="false" stage="never" targetfile="$INSTALL_PATH/bin/directvweb.sh"/>
            <parsable encoding="iso-8859-1"
                targetfile="$INSTALL_PATH/bin/directvweb.sh" type="shell"/>
        </pack>
        <pack name="Linux DVB Recorder" preselected="no" required="no">
            <description>A recorder for Linux DVB devices. Most should work that are ATSC based.  The hybrid WinTV-HVR-1600 works for the digital tuner.  You also need to install the dvb-apps package.  It includes programs to "scan" for channels and the *zap programs to tune the DVB device.  By default the configuration is set to use the azap program (ATSC).  One could probably experiment and get the satellite DVB devices working.</description>
            <file override="update"
                src="server/bundle/jflicks-tv-recorder-dvb.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bin/directvweb.jar" targetdir="$INSTALL_PATH/bin"/>
            <file override="update"
                src="server/bin/directvweb.sh" targetdir="$INSTALL_PATH/bin"/>
            <executable failure="abort" keep="false" stage="never" targetfile="$INSTALL_PATH/bin/directvweb.sh"/>
            <parsable encoding="iso-8859-1"
                targetfile="$INSTALL_PATH/bin/directvweb.sh" type="shell"/>
        </pack>
        <pack name="Comskip" preselected="no" required="no">
            <description>Commercial skipping using Comskip.  On Linux a recent Wine install is needed as Comskip is a Windows command line program.  You will need to download it and place the binaries in the INSTALL_PATH/bin directory.  And the comskip.ini file in the INSTALL_PATH/conf directory.  If you are commercial skipping MPEG-4 files you need to get the "donation version" of Comskip.  The "free" download works great for MPEG-2.  Please consider donating either way.  See http://www.kaashoek.com/comskip/ for details and downloads.</description>
            <file override="update"
                src="server/bundle/jflicks-tv-postproc-worker-comskip.jar" targetdir="$INSTALL_PATH/bundle"/>
        </pack>
        <pack name="Photo Manager Digikam" preselected="no" required="no">
            <description>Add if you organize your photos with Digikam and you want to show your photo library on your TV.  The display is "tag" based so you need to have tagged your photos.</description>
            <file override="update"
                src="server/bundle/jflicks-photomanager-digikam.jar" targetdir="$INSTALL_PATH/bundle"/>
            <file override="update"
                src="server/bundle/jflicks-sqlitejdbc.jar" targetdir="$INSTALL_PATH/bundle"/>
        </pack>
    </packs>
</installation>
